@import "_variables";
@import "_mixins";


@mixin create-spacing-classes($modifier, $breakpoint) {
  $modsuffix: get-modsuffix($modifier);

  @include create-media-query($breakpoint) {
    .paper#{$modsuffix} {
      border: 1px solid $grey-color-light;
      border-radius: 3px;
      box-shadow: 0 0 10px $grey-color;
    }
  }
}


@each $modifier, $breakpoint in $BREAKPOINTS {
  @include create-spacing-classes($modifier, $breakpoint);
}
