/* Spacing */
@import '_variables';
@import '_mixins';


$SIZES: (
  "1": 5px,
  "2": 10px,
  "3": 1em,
  "4": 1.5em
);


@mixin create-spacing-classes($modifier, $breakpoint) {
  $modsuffix: get-modsuffix($modifier);

  @include create-media-query($breakpoint) {

    @each $k, $v in $SIZES {
      .m#{$modsuffix}-#{$k} {
        margin: $v;
      }
      .my#{$modsuffix}-#{$k} {
        margin-top: $v;
        margin-bottom: $v;
      }
      .mx#{$modsuffix}-#{$k} {
        margin-left: $v;
        margin-right: $v;
      }
      .mt#{$modsuffix}-#{$k} {
        margin-top: $v;
      }
      .mr#{$modsuffix}-#{$k} {
        margin-right: $v;
      }
      .mb#{$modsuffix}-#{$k} {
        margin-bottom: $v;
      }
      .ml#{$modsuffix}-#{$k} {
        margin-left: $v;
      }

      .p#{$modsuffix}-#{$k} {
        padding: $v;
      }
      .py#{$modsuffix}-#{$k} {
        padding-top: $v;
        padding-bottom: $v;
      }
      .px#{$modsuffix}-#{$k} {
        padding-left: $v;
        padding-right: $v;
      }
      .pt#{$modsuffix}-#{$k} {
        padding-top: $v;
      }
      .pr#{$modsuffix}-#{$k} {
        padding-right: $v;
      }
      .pb#{$modsuffix}-#{$k} {
        padding-bottom: $v;
      }
      .pl#{$modsuffix}-#{$k} {
        padding-left: $v;
      }
    }
  }
}



@each $modifier, $breakpoint in $BREAKPOINTS {
  @include create-spacing-classes($modifier, $breakpoint);
}
