@import 'styles/_variables';

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  background-color: $grey-color-light;

  &__item {
    margin: 10px;
  }
  &__item--link {
    color: $main-color-darker;
    font-weight: bold;

    text-decoration: none;
    outline: none;
  }
  &__item--link:hover {
    color: $main-color-light;
  }
  &__item--username {
    background-color: $main-color;
    color: $white-color;
    text-shadow: 1px 1px 2px $black-color;
    font-weight: bold;
    padding: 2px 12px;
    border-radius: 1em;
    border: 1px solid $main-color-darker;
  }
}
