/* Page Layout */
@import 'styles/_variables';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__section {

    &--header {
      background-color: $grey-color-light;
      border-bottom: 2px solid $grey-color-light;
    }

    &--navbar {
      background-color: $grey-color-lighter;
      border-bottom: 2px solid $grey-color-light;
    }

    &--main {
      flex: 1;
    }

    &--footer {
      background-color: $grey-color-lighter;
      border-top: 2px solid $grey-color-light;
      color: $black-color;
    }
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}